<!--<div class="card-container">
    <h4 class="card-header">Listado de mensajes</h4>
    <div class="card-body">
        <form (ngSubmit)="sendMessage()">
            <input type="text" placeholder="Mensaje" name="message" [(ngModel)]="message"> 
            <button type="submit">
                Manda Mensaje
            </button>
        </form>
        
    </div>
    
  </div>-->

<div class="container">

    <form (ngSubmit)="sendMessage()">
        <div class="elements">
            <label>
                Message:
            </label>
            <input type="text" placeholder="Mensaje" name="message" [(ngModel)]="message"> 
            <button type="submit">Send Message</button>
        </div>
    </form>

    <hr>


</div>
